.contactSegment{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}

#contactForm{
    width: 100%;
}

#nameLabel, #emailLabel{
    font-family: "Montserrat";
    color: gray;
}
