.UITop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}

.UIComponents{
  display: flex;
}

.WeightMarkInputs{
  display: flex;
  flex-direction: row;
  margin-left: 15%;
}

#nameField{
  width: 150%;
}

#markField{
  margin-left: 5%;
}

#markField, #weightField{
  width: 100%;
}

#removeButton{
  height: 100%;
  margin-left: 5%;
}

.UISection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container{
  min-width: 35vh;
}

.OutputSection{
  display: flex;
  flex-direction: column;
  padding-right: 10vh;
  width: 45vh;
  min-width: 30vh;
}

#outputFields{
  font-size: 115%;
  margin-top: 0;
  padding-left: 5%;
}

.schemeSelectors{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#percentageRadio, #markRadio{
  padding-left: 2%;
}

#showReportButton{
  background:none!important;
  border:none; 
  font: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  outline: none;
  padding-left: 0;
  padding-bottom: 2%;
}

#modalTrigger{
  font-size: 75%;
}

button:hover {
  color:red;
}

.progressBar{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#bar{
  margin-bottom: 0;
}

.graderDiv{
  min-height: 80vh;
  width: 80%;
  margin-left: 20%;
  padding-top: 13vh;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  justify-content: space-evenly;
}

