.UITop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}

.UIComponents{
  display: flex;
}

.WeightMarkInputs{
  display: flex;
  flex-direction: row;
  margin-left: 15%;
}

#nameField{
  width: 150%;
}

#markField, #weightField{
  width: 100%;
}

#markField{
  margin-left: 5%;
}

#removeButton{
  height: 100%;
  margin-left: 5%;
}

.graderDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 15%;
  padding-top: 3%;
}


#UI{
  display: flex;
  flex-direction: column;
}

.OutputSection{
  display: flex;
  flex-direction: column;
  min-width: 20vh;
}

#outputFields{
  font-size: 115%;
}

.schemeSelectors{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#percentageRadio, #markRadio{
  padding-left: 2%;
}

#showReportButton{
  background:none!important;
  border:none; 
  font: inherit;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

#reportSection{
  padding-top: 5%;
  padding-left: 4%
}

button:hover {
color:red;
}
