.HeaderDiv{
    background-color: rgb(36, 39, 49);
    padding-top: 2%;
    height: 15vh;
    width: 100%;
}

.HeaderInnerDiv{
    margin: 0 auto;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.InfoNav, .ProjectsNav, .HomeNav{
    padding: 2%;
    font-size: 150%;
    color:white;
}
