.WelcomeMessage{
    display: flex;
    flex-direction: column;
    font-size: 200%;
    padding: 10%;
}

.GreetingMessage{
    display: flex;
    flex-direction: row;
    font-size: 140%;
}

.HomePage{
    display: flex;
    flex-direction: column;
    background-color: white;
}

#firstLine, #secondLine, #thirdLine{
    padding: 5%;
}