.HomePage{
    background-color: white;
}

.homeSection, .particles, .greetingSection, .projectsSection, .aboutMeSection, .contactSection{
    height: 100vh;
    box-sizing: border-box;
}

.homeSection{
    background-color:  rgb(36, 39, 49);
    font-family: "Montserrat";
}

.WelcomeMessageDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45vh;
    bottom: 50vh;
    left: 30vh;
    right: 30vh;
    color: white;
    box-sizing: border-box;
}

#startButton, #homeSectionButton, #greetingSectionButton, #projectsSectionButton, #aboutMeSectionButton, #contactSectionButton{
    background:none!important;
    border:none; 
    font-family: "Montserrat";
    cursor: pointer;
    padding-top: 1vh;
    padding: 2%;
    font-size: 130%;
    outline: none;    
    transition: 0.4s ease-in-out;
    color: grey;
}

#homeSectionButton{
    margin-left: 20%;
}

#homeSectionButton:hover{
    color:brown;
}

#greetingSectionButton:hover{
    color:brown;
}

#projectsSectionButton:hover{
    color:brown;
}

#aboutMeSectionButton:hover{
    color:brown;
}

#contactSectionButton:hover{
    color:brown;
}

#startButton:hover{
    color:brown;
    transform: scale(1.4);
}

.headerSection{
    background-color: rgb(36, 39, 49);
    height: 6vh;
    width: 100%;
    font-family: "Montserrat";
    top: 0;
    position:sticky;
    display: flex;
    flex-direction: row;
}

.headerDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 40%;
    height: 100%;
}

#projectsSection{
    background-color:  gray;
}

#timeGreeting{
    font-size: 350%;
}
#welcomeMessage{
    font-size: 200%;
}

#welcomeMessagePart2{
    color:brown;
}

