.ProjectsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
}

.graderPicture, .explanationReveal{
    position: relative;
    display: block;
    width: 38%;
    min-width: 30vh;
    height: auto;
}

