@mixin section-padding {
  padding: 10vh 0;
  @media (min-width: 768px) { // I'd prefer this to be the $md Bootstrap grid variable
    padding: 20vh 0;
  }
}

body {
  padding-top: 3rem;
}

.hero {
  padding: 20vh 0;
  background: linear-gradient(to right, #EECDA3, #EF629F);
}

.features {
  background: #222;
  color: white;
}

.pricing {
  text-align: center;
}

.featured-price {
  transform: scale(1.1);
  z-index: 10;
  background: #222;
}

footer {
  padding: 10vh 0;
  text-align: center;
  background: black;
  color: white;
}