.domainFinderDiv{
    height: 80vh;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputDiv{
    padding-left: 15%;
    padding-right: 15%;
}

.outputDiv{
    background-color: rgb(236, 236, 236);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}

.outputTextDiv{
    padding: 2%;
    font-family: "Montserrat";
    font-size: 125%;
}

#searchButton{
    margin-top: 1%;
}

#domainName{
    font-family: "Montserrat";
    font-size: 115%;
}